* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #0b0f14;
  color: #e6e6e6;
}

/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  color: #5cff9a;
}

.navbar nav a {
  margin-left: 32px;
  text-decoration: none;
  color: #b5b5b5;
  font-size: 14px;
}

.navbar nav a:hover {
  color: #ffffff;
}
/* ========== ROOT =========== */
:root {
  --bg-dark: #000000;
  --text-white: #e5e7eb;
  --text-grey: #9ca3af;
  --green-main: #22c55e;
  --green-strong: #5cff9a;
  --blue-sky: #3b82f6;
  --orange-basketball:#B54213;
}
/* ===== ABOUT SECTION ===== */
.about-section {
  padding: 120px 20px 60px;
  min-height: 100vh;
  background-color: #0b0f14;

  display: flex;
  flex-direction: column; /* QUAN TRá»ŒNG */
  justify-content: center;
  align-items: center;
}


.about-title-typing {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
  color: var(--green-strong);
}
.text-grey {
  color: var(--text-grey);
  font-weight: 600;
}
.text-orange {
  color: var(--orange-basketball);
  font-weight: 600;
}
.text-blue {
  color: var(--blue-sky);
  font-weight: 600;
}
.text-green {
  color: var(--green-strong);
  font-weight: 600;
}
.about-content {
  max-width: 720px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.75;
  color: var(--text-white);
  
  display:flex;
  flex-direction: column;
  align-items:center;
}


#typing-text {
  white-space: pre-line;
  position: relative;
}

#typing-text::after {
  content: "|";
  margin-left: 4px;
  color: var(--green-main);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
.highlight {
  background-color: var(--bg-highlight);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
}
/* ===== Lock Section ===== */
.lock-overlay {
  position: fixed;
  inset: 0;
  background: rgba(11, 15, 20, 0.85);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lock-box {
  background: #0b0f14;
  border: 1px solid #22c55e;
  padding: 32px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
}

.lock-box input {
  width: 100%;
  padding: 10px;
  margin-top: 16px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
}

.lock-box button {
  margin-top: 16px;
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.error {
  color: #ff6b6b;
  margin-top: 8px;
}